html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to right, #333, #1dbce1);
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 16px;
  overflow: hidden;
  background: transparent;
}

.nav-item {
  display: inline-block;
  color: black;
  text-align: center;
}

.nav-link {
  color: aliceblue;
  padding: 16px 16px;
  font-family: system-ui;
  transition: 0.8s;
}

.nav-link:hover {
  background-color: rgb(39, 39, 39);
  color: rgb(105, 248, 248);
  font-size: 25px;
  border-radius: 35px;
}

.about-sect {
  display: block;
  min-height: 150vh;
  padding-left: 15%;
  padding-right: 15%;
}

h2 {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  font-family: system-ui;
  color: aliceblue;
}

p {
  font-family: system-ui;
  color: aliceblue;
}

.skills-sect {
  margin-bottom: 150vh;
  display: flexbox;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.list {
  font-family: system-ui;
  color: aliceblue;
}

.about-container > h1 {
  padding-right: 30px;
}

.pic-of-me {
  float: left;
  width: 400px;
  height: 300px;
  padding-right: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 15px 15px;
  background-color: rgb(138, 138, 138);
  transition: 0.8s;
}

.card:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.4);
  background-color: rgb(78, 78, 78);
}

.project-sect {
  margin-top: 150vh;
  margin-bottom: 50vh;
  display: flexbox;
  justify-content: center;
  align-content: flex-start;
}
